@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <p>Get to Know Joel</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <a href="https://baconsale.com">Baconsale
        <img src="/images/BaconsaleKate.jpg" />
    </a>
</div>